*.class
*.war
target/
.settings/
.classpath
.project
*.log
.idea/
private_key.key
ssh-key-2024-11-29.key*
classes.tar.gz
ssh-key-2024-11-30 (1).key
ssh-key-2024-11-30.key
ssh-key-2024-11-30.key (1).pub
ssh-key-2024-11-30.key.pub
.vscode/
.idea/workspace.xml
